@import "../../variables";

.section {
  float: left;
  width: 100%;
  padding: 25px 0 10px 0;
  margin: 0;
  border-bottom: 1px solid $page-header-border-color;

  .title {
    float: left;
    width: 50%;
    font-size: 30px;
    text-align: left;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }

  .path {
    float: right;
    width: 50%;
    font-size: 14px;
    text-align: right;
    font-weight: normal;
    color: $text-muted;
    margin: 5px 0 0;
    padding: 0;

    .separator {
      padding: 0 5px;
    }
  }
}