@import "../../variables";

.footer {
  width: 100%;
  font-size: 14px;
  color: $navbar-default-link-color;
  margin: 0;
  float: left;
  padding: 20px 0;
  background-color: $navbar-inverse-bg;

  .link {
    padding: 5px 0 0;
    margin: 0;
    float: left;
    color: $navbar-default-link-color;

    &:hover{
      color: $component-active-color;
    }
  }

  .icons {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;

    li {
      float: right;
      padding: 0;
      margin: 0;

      a {
        width: 35px;
        height: 35px;
        float: left;
        padding: 0;
        margin: 0 8px 0 0;
        line-height: 35px;
        text-align: center;
        color: $navbar-default-link-color;
        font-size: 16px;
        border-radius: 100%;
        background-color: $gray-base;

        &:hover {
          color: $navbar-default-link-color;
          background-color: $component-active-color;
        }
      }
    }
  }
}