@import "../../variables";

.section {
  .item {
    float: left;
    width: 100%;
    padding: 15px 0 15px 0;
    margin: 0;
    border-bottom: 1px solid $hr-border;

    .img {
      float: left;
      width: 14%;
      padding: 0;
      margin: 0;
    }

    .text {
      float: right;
      width: 86%;
      padding: 0;
      margin: 0;
    }
  }
}