.section {
  width: 100%;
  float: left;
  padding: 70px 0 70px 0;
  margin: 0;

  .title {
    font-size: 43px;
    padding: 0;
    margin: 0;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }

  .line {
    height: 3px;
    padding: 0;
    margin: 15px auto 20px;
    text-align: center;
    background: url(./content/title_line.png) center top no-repeat;
  }

  .subtitle {
    width: 60%;
    padding: 0;
    margin: 0 auto 60px;
    text-align: center;
  }

  .card {
    width: 100%;
    float: left;
    padding: 10px;
    margin: 0;
    background-color: #fff;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    &:hover {
      background-color: #fe7e20;
      transition-property: background-color, color;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;

      .text {
        color: #fff;
        h4 {
          color: #fff;
        }
      }

      .icon {
        color: #fff;
      }
    }

    .icon {
      width: 15%;
      float: left;
      font-size: 28px;
      padding: 10px;
      margin: 0;
    }

    .text {
      width: 85%;
      float: right;
      padding: 10px;
      margin: 0;
    }
  }
}