@import "../../variables";
@import "../../mixins";

.section {
  width: 100%;
  float: left;
  padding: 70px 0 70px 0;
  margin: 0;

  .title {
    font-size: 43px;
    padding: 0;
    margin: 0;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }

  .line {
    height: 3px;
    padding: 0;
    margin: 15px auto 20px;
    text-align: center;
    background: url(./content/title_line.png) center top no-repeat;
  }

  .subtitle {
    width: 60%;
    padding: 0;
    margin: 0 auto 60px;
    text-align: center;
  }

  .card {
    width: 100%;
    float: left;
    padding: 10px;
    margin: 0;
    background-color: $component-active-color;
    @include transition(background-color 0.3s ease-out, color 0.3s ease-out);

    &:hover {
      background-color: $brand-primary;
      color: $component-active-color;
      h4 {
        color: $component-active-color;
        @include transition(color 0.3s ease-out);
      }
    }

    .icon {
      width: 15%;
      float: left;
      font-size: 28px;
      padding: 10px;
      margin: 0;
    }

    .text {
      width: 85%;
      float: right;
      padding: 10px;
      margin: 0;
    }
  }
}