@import "../../variables";
@import "../../mixins";

.section {
  width: 100%;
  float: left;
  padding: 0 0 70px 0;
  margin: 0;

  .card {
    width: 100%;
    float: left;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    background-color: $component-active-color;
    @include transition(background-color 0.3s ease-out, color 0.3s ease-out);

    &:hover {
      background-color: $brand-primary;
      color: $component-active-color;
      h4 {
        color: $component-active-color;
        @include transition(color 0.3s ease-out);
      }
    }

    .icon {
      width: 15%;
      float: left;
      font-size: 28px;
      padding: 10px;
      margin: 0;
    }

    .text {
      width: 85%;
      float: right;
      padding: 10px;
      margin: 0;
    }
  }
}