.header {
  margin: 0px 0 0;
}

.trueHeader {
  z-index: 8000;
  left: 0;
  right: 0;
  padding: 0px 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  transition: padding 0.35s ease;
  -khtml-transition: padding 0.35s ease;
  -webkit-transition: padding 0.35s ease;
  -moz-transition: padding 0.35s ease;
  -ms-transition: padding 0.35s ease;
  -o-transition: padding 0.35s ease;
  background-color: transparent;
  zoom: 1;
  margin-bottom: 20px;
  .logo {
    float: left;
    width: 25%;
    a {
      float: left;
      display: block;
      position: relative;
      text-indent: -999em;
      width: 64px;
      height: 64px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(./content/logo.jpg);
      z-index: 1;
    }
  }
}

.wrapper {
  zoom: 1;
  width: 100%;
  margin: 0 auto;
}