.section {
  width: 100%;
  padding: 70px 0;
  margin: 0;
  float: left;

  .map_wrapper {
    padding: 20px;
    border: 1px solid #d9d9d9;
    margin-bottom: 40px;
    .map {
      width: 100%;
      height: 300px;
    }
  }

  .title {
    text-transform: uppercase;
  }
}